
@media screen and (min-width: 320px) and (max-width: 800px){
    

    
    .form{

        background-image: url(../imgs/form2.png);
        width: 400px;
        height: 35px;
        background-color: transparent !important;
        border: none !important;
        z-index: 3;
        transition: all 0.5 ease;
    }

    @keyframes bgs {
    
        0%{
    
            background-image: url(../imgs/ffglow1.png);
        }
    
        10%{
    
            background-image: url(../imgs/ffglow2.png);
        }
    
        100%{
    
            background-image: url(../imgs/f-bordered.png);
        }
    }

    @keyframes slogan-appear {
    
        100%{
    
            opacity: 1;
        }
    }

    .table-content{

        background-color: rgba(0, 0, 0, 0.5) !important;
        z-index: 3;
        top: 70%;
        width: 80%;
        border-radius: 20px;
    }

    .table-content th{

        color: #c3b09a;
        font-family: "lancelot", serif;
        font-weight: 300;
        font-size: 16px!important;
        transition: all 0.5s ease;
        padding: 30px !important;
    }

    th{

        font-size: 12px!important;
    }
}
